<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assign Items</title>
        <script src="{{url_for('static', filename='js/options.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/options.css') }}">
    </head>
    <body>
        <div id="main">
            <div id="content">
                <form action="/assign_items" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        {% for name in names %}
                            <element name="assign{{name}}" class="box name">{{name}}</element>
                            <input style="display: none;" name="{{name}}" id="{{name}}" value=", ">
                        {% endfor %}
                    </div>
                    <div class="container">
                        {% for key, value in items.items() %}
                            <element class="box item"><input name="{{key}}" value="{{key}}" type="text"> ($ <input style="max-width: 75px" type="number" step="0.01" name="{{key ~ ' ' ~ value[1]}}" min="0.00" value="{{value[1]}}"> ) x <input style="max-width: 50px" type="number" name="{{key ~ ' ' ~ value[0]}}" min="0" max="100" value="{{value[0]}}"></element>
                        {% endfor %}
                    </div>
                    <div class="submit_container">
                        <input class="submit" type="submit" value="enter">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>